.cardDoctors {
    width: 19.8rem;
    height: 37.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color);
    color: var(--tertiary-color);
    margin: 3.75rem 0;
}

.imageContainer {
    height: 20.6rem;
    width: 14.38rem;
    overflow: hidden;
}


.cardImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.cardDetails {
    margin-left: -1.25rem;
}

.cardTitle {
    font-family: 'Lato' sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    width: 14.38rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
}

.cardActor {
    font-family: 'Montserrat' sans-serif;
    font-style: italic;
    font-size: 1.25rem;
    height: 3.125rem;
    display: flex;
    align-items: center;
}

.cardYears {
    font-family: 'Montserrat' sans-serif;
    font-size: 1.25rem;
}

@media (min-width: 1000px) {

    .cardDoctors {
        margin: 1.25rem 0;
    }

    .cardTitle {
        font-weight: 700;
        font-size: 1.75rem;
        height: 4.38rem;
    }

    .cardActor {
        height: 4.38rem;
    }
}