.slider {
    margin: 0;
    width: 100%;
}

.sliderItem {
    width: 100%;
    height: 30.63rem;
}

.sliderCaptionContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1rem;
}

.sliderTitle {
    padding-top: 4.69rem;
    margin-left: -1.25rem;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.sliderImage {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.sliderCaption {
    height: 100%;
}


@media (min-width: 1000px) {

    .sliderItem {
        height: 33.875rem;
    }

    .sliderCaptionContainer {
        gap: 3rem;
    }

    .sliderTitle {
        font-size: 4rem;
    }

    .sliderImage {
        height: 120%;
    }
}