.slider{
    margin: 0;
    width: 100%;
}

.sliderItem{
    width: 100%;
    height: 490px;
}

.sliderCaptionContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: center;
    gap: 1rem;
}

.sliderTitle{
    font-size: 48px;
    font-family: 'Lato', sans-serif;
    font-weight: 800;
}

.sliderImage{
height: 100%;
width: 100%;
object-fit: cover;

}

.sliderCaption{
    height: 100%;
}


@media (min-width: 1000px)  {

    .sliderItem{
        height: 542px;
    }

    .sliderCaptionContainer{
        gap: 3rem;
    }

    .sliderTitle{
        font-size: 64px;
    }

    .sliderImage{
        height: 120%;
        }


}