.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 2.5rem;
}

.contactSection{
  width: 100%;
  z-index: 3;
  padding: 1.25rem 3.125rem;
}

.contactTitle{
  color: var(--tertiary-color);
  width: 90%;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-align: center;
  margin-left: 1.25rem;
}

.contactButton{
  background-color: var(--secundary-color);
  width: 15.65rem;
  height: 3.5rem;
  color: var(--background-color);
  border-radius: 3rem;
  border: none;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 1.56rem;
}

.backgroundWhite{
  z-index: 2;
  top: 27.5rem;
  width: 15.63rem;
  position: absolute;
  }
  
  .backgroundYellow{
    z-index: 1;
    top: 15.94rem;
    left: 11.88rem;
    position: absolute;
    width: 18.69rem;
  }
  
  .backgroundBlue{
    z-index: 0;
    left:0.31rem;
    top: 15rem;
    width: 15rem;
    position: absolute;
  }

@media (min-width: 1000px)  {
  .main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2.5rem 6.25rem;
  }
  
  .contactSection{
    width: 40%;
    padding-bottom: 3rem;
  }
  
  .contactButton{
    width: 15rem;
    font-size: 1.75rem;
    height: 2.88rem;
    margin-top: 0.94rem;
  }
  
  .contactTitle{
    width: 80%;
    font-size: 3.5rem;
  }
  
  .backgroundWhite{
  top: 27.5rem;
  left:11.25rem;
  width: 11.88rem;
  
  }
  
  .backgroundYellow{
    top: 14rem;
    left: 18.75rem;
    width: 22.81rem;
  }
  
  .backgroundBlue{
    left:13.75rem;
    top: 19rem;
    width: 6.56rem;
  }
  
}