@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

.header{
    background-color: #040521;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
    height: 150px;
}

.header__navbar{
    display: flex;
    justify-content: space-between;
    width: 30%;
    
}

.header__navbar a{
    text-decoration: none;
    color: inherit;
}

.header__iconsSection{
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.header__logo{
    margin-top: 60px;
    z-index: 1;
}

.header__searchbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


