

.header{
    background-color: #040521;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 60px;
    height: 115px;
}

.headerNavbar{
    display: flex;
    justify-content: space-between;
    width: 30%;
    
}

.headerNavbar a{
    text-decoration: none;
    color: inherit;
}

.headerIconsSection{
    display: flex;
    justify-content: space-between;
    width: 10%;
}

.headerLogo{
    margin-top: 45px;
    z-index: 1;
}

.headerSearchbar{
    display: flex;
    flex-direction: row;
    align-items: center; 
}



