@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

:root {
  --background-color: #040521;
  --secundary-color: #FFC67E;
  --tertiary-color: #FFFFFF; 
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  
}

main{
  display: flex;
  background-color: var(--background-color);
  height: 100%;

}
