

.main{
    background-color: #040521;
    display: flex;
    align-items: center;
}

.mainContent{
    z-index: 1;
    position:absolute;
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    align-items: start;
}
.knowDetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 530px;
    border: 2px solid red;
}

.knowTitle{
    color: white;
    font-size: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    width: 85%;
    text-align: center;
}

.knowText{
    color: white;
    text-align: center;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 80%;
}

.knowImage{
    object-fit: cover;
    height: 520px;
    width: 400px;
    padding-bottom: 20px;
}

.knowBackground{
    width: 100%;
   z-index: 0;
   display: flex;
  
}
.backgroundOne{
    display: flex;
    align-items: end;
    justify-content: start;
    width: 45%;
}

.backgroundTwo{

}  

